
.coverImg {
    background: url("https://cutt.ly/Ja6KoBh") center center / cover no-repeat;
    height: 400px;
    width: 1200px;
}

.avatarImg {
    background: url("https://cutt.ly/finWl8A") center center / cover no-repeat;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-top: 30px;
}

.descr {
    padding-top: 10px;
}